%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr.heading
      %th.small Name
      %th.small Gender
      %th.small Race
      %th.small Grade
      %th.small Countries
      %th.small Cities
      %th.small Step
      %th.small Source
      %th.small Job Title
      %th

  - people.each do |person|
    %tr
      %td.small= "#{person.first_name} #{person.last_name}"
      %td.small= person.gender
      %td.small= person.race
      %td.small= person.grade
      %td.small= person.countries.join(", ")
      %td.small= person.cities.join(", ")
      %td.small= person.step
      %td.small= person.source
      %td.small= person.job_title
      %td
        = link_to 'Show', person, :class => "btn btn-primary fui-eye-24"
        = link_to ' ', "https://jobs.thoughtworks.com/#Person/#{person.avature_id}", :class => "btn btn-info btn-small icon-share-alt" , :target => "_blank", :title => "Click to view in Avature"
%br

#filters.filter-container.pull-bottom
  .row-fluid
    %form{method: "get"}
      .span2
        .lead
          Filters
        Select any number of options to filter. Click apply to filter.
      .span3
        = label_tag :by_step, "Step"
        = select_tag :by_step, options_for_select(people_filter_presenter.step_options, params[:by_step]), multiple: true
      .span3
        = label_tag :by_source, "Source"
        = select_tag :by_source, options_for_select(people_filter_presenter.source_options, params[:by_source]), multiple: true
      .span3
        = label_tag :by_job_title, "Job Title"
        = select_tag :by_job_title, options_for_select(people_filter_presenter.job_title_options, params[:by_job_title]), multiple: true
      .span1
        %button.btn.btn-success{type: "submit"}
          Apply Filter

