%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr.heading
      %th.small Name
      %th.small Gender
      %th.small Race
      %th.small Grade
      %th.small Countries
      %th.small Cities
      %th.small Step
      %th.small Source
      %th.small Job Title
      %th

  - people.each do |person|
    %tr
      %td.small= "#{person.first_name} #{person.last_name}"
      %td.small= person.gender
      %td.small= person.race
      %td.small= person.grade
      %td.small= person.countries.join(", ")
      %td.small= person.cities.join(", ")
      %td.small= person.step
      %td.small= person.source
      %td.small= person.job_title
      %td
        = link_to ' ', person, :class => "btn fui-eye-24"
        = link_to ' ', "https://jobs.thoughtworks.com/#Person/#{person.avature_id}", :class => "btn btn-small icon-share-alt" , :target => "_blank", :title => "Click to view in Avature"
%br

.filter-container.pull-bottom
  %form{method: "get"}
    = select_tag :by_step, options_for_select(people.map(&:step).uniq, params[:by_step]), multiple: true, prompt: "All Steps"
    = select_tag :by_source, options_for_select(people.map(&:source).uniq, params[:by_source]), multiple: true, prompt: "All Sources"
    = select_tag :by_job_title, options_for_select(people.map(&:job_title).uniq, params[:by_job_title]), multiple: true, prompt: "All Job Titles"
    %input{type: "submit", value: "Go!"}
