.title= @person.first_name + " " + @person.last_name
%i.icon-user
%b=@person.job_title
%br
%i.icon-share-alt
%b=@person.source
%br
%i.icon-map-marker
%b= @person.display_location

%hr

%p
  %b Avature ID:
  = @person.avature_id
  %br
  %b Gender:
  = @person.gender
  %br
  %b Race:
  = @person.race
  %br
  %b Creation Date:
  = @person.creation_date
  %br
  %b Last Updated Date:
  = @person.last_updated_date
  %br
  %b Grade:
  = @person.grade
  %br
  %b Graduate Questionaire Score:
  = @person.questionaire_score
  %br
  %b Step:
  = @person.step
  %br
  %b Referred By:
  = @person.referred_by
  %br
  %b Recruiter:
  = @person.recruiter
  %br
  %b Attached Files and Forms:
  = @person.attached_files_and_forms
%hr
