.homepage-tiles
  .span3
    .tile
      .tile-content
        = image_tag "illustrations/compass.png", :class => "tile-image big-illustration"
        %h3.tile-title Map Data
        %p See location data represented on maps.
      .tile-nav
        %a.btn.btn-primary.btn-large.btn-block{:href => reports_map_path} See the Map
  .span3
    .flip-container
      .flipper
        .tile.front
          .tile-content
            = image_tag "illustrations/infinity.png", :class => "tile-image big-illustration"
            %h3.tile-title Charts
            %p See your context on different charts (pie, line and more).
          .tile-nav
            .btn.btn-primary.btn-large.btn-block.btn-flip See the Charts
        .tile.back
          .tile-content
            %ul.nav.nav-tabs.nav-stacked
              %li= link_to "Genders", reports_genders_path
              %li= link_to "Races", reports_races_path
          .tile-nav
            .btn.btn-primary.btn-large.btn-block.btn-flip Back
  .span3
    .flip-container
      .flipper
        .tile.front
          .tile-content
            = image_tag "illustrations/colors.png", :class => "tile-image big-illustration"
            %h3.tile-title Experiments
            %p See some more fringe visulisations.
          .tile-nav
            .btn.btn-primary.btn-large.btn-block.btn-flip See the Experiments
        .tile.back
          .tile-content
            %ul.nav.nav-tabs.nav-stacked
              %li= link_to "Sunburst", reports_sunburst_path
              %li= link_to "Bubbles", reports_bubbles_path
              %li= link_to "Progress", reports_progress_aggregation_path
          .tile-nav
            .btn.btn-primary.btn-large.btn-block.btn-flip Back
  .span3
    .flip-container
      .flipper
        .tile.front
          .tile-content
            = image_tag "illustrations/retina.png", :class => "tile-image big-illustration"
            %h3.tile-title Clean Up
            %p Improve the data in Avalytics for better results.
          .tile-nav
            .btn.btn-primary.btn-large.btn-block.btn-flip Get to it!
        .tile.back
          .tile-content
            %ul.nav.nav-tabs.nav-stacked
              %li.nav-header
                Strange Data
              %li= link_to "Country/City Combos", records_to_clean_strange_country_city_combos_path
              %li.nav-header
                Data Assignment
              %li= link_to "Gender", records_to_clean_gender_sample_path
              %li= link_to "Race", records_to_clean_race_sample_path
          .tile-nav
            .btn.btn-primary.btn-large.btn-block.btn-flip Back
