.login
  .login-screen
    %center
      = image_tag "login_logo.png", alt: "Welcome to Avalytics", :class => "login-logo"
    
    .login-form
      = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
        .row-fluid
          .span6
            .control-group
              = f.email_field :email, autofocus: true, :class => "login-field", placeholder: "Email Address"
              .login-field-icon.fui-man-16

            - if devise_mapping.rememberable?
              = f.label :remember_me, :class => "checkbox" do
                %span.icon
                %span.icon-to-fade
                = f.check_box :remember_me
                .checkbox-label
                  I'll be back!

          .span6
            .control-group
              = f.password_field :password, :class => "login-field", placeholder: "Password"
              .login-field-icon.fui-lock-16

            = render "devise/shared/links"

        %button{:class => "btn btn-primary btn-large btn-block", name: "commit", type: "submit"}
          Login

