%a.btn.btn-large{:href => "#{records_to_clean_fix_gender_path}?id=#{@person.id}&gender=male"}
  Male
%a.btn.btn-large{:href => "#{records_to_clean_fix_gender_path}?id=#{@person.id}&gender=female"}
  Female
%a.btn.btn-large.btn-warning{:href => "#{records_to_clean_gender_sample_path}"}
  Skip

.title= "Set the gender of:"
= render "people/person"
