%h3 #{@people.size} People with messed up country city combos

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr.heading
      %th.small AvatureID
      %th.small First Name
      %th.small Last Name
      %th.small Created
      %th.small Updated
      %th.small Grade
      %th.small Countries
      %th.small Cities
      %th.small Step
      %th.small Referrer
      %th.small Recruiter
      %th.small Source
      %th.small Job Title
      %th

  - @people.each do |person|
    %tr
      %td= person.avature_id
      %td= person.first_name
      %td= person.last_name
      %td= person.creation_date
      %td= person.last_updated_date
      %td= person.grade
      %td= person.countries
      %td= person.cities
      %td= person.step
      %td= person.referred_by
      %td= person.recruiter
      %td= person.source
      %td= person.job_title
      %td
        = link_to 'Show', person, :class => "btn btn-success"
        = link_to " ", "https://jobs.thoughtworks.com/#Person/#{person.avature_id}", :class => "btn btn-small icon-share-alt", :target => "_blank"

%br
