%h1 #{@people.size} People with messed up country city combos

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th Avature ID
      %th First Name
      %th Last Name
      %th Creation Date
      %th Last Updated Date
      %th Grade
      %th Countries
      %th Cities
      %th Step
      %th Referred By
      %th Recruiter
      %th Source
      %th Job Title
      %th

  - @people.each do |person|
    %tr
      %td= person.avature_id
      %td= person.first_name
      %td= person.last_name
      %td= person.creation_date
      %td= person.last_updated_date
      %td= person.grade
      %td= person.countries
      %td= person.cities
      %td= person.step
      %td= person.referred_by
      %td= person.recruiter
      %td= person.source
      %td= person.job_title
      %td
        = link_to 'Show', person, :class => "btn"
        = link_to "Avature", "https://jobs.thoughtworks.com/#Person/#{person.avature_id}", :class => "btn", :target => "_blank"

%br
