= form_for @job_list do |f|
  - if @job_list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job_list.errors.count, "error")} prohibited this job list from being saved:"
      %ul
        - @job_list.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :recruiting_region
    = f.text_field :recruiting_region, "data-provide" => "typeahead", "autocomplete" => "off", "data-source" => "#{@existing_recruiting_regions}"
  .field
    = f.label :job_title
    = f.text_field :job_title, "data-provide" => "typeahead", "autocomplete" => "off", "data-source" => "#{@existing_job_titles}"
  .field
    = f.label :url
    = f.text_field :url
  .actions
    %button.btn{:name => "commit", :type => "submit"}
      Save