.span12
  %h3 Listing Job Lists

  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %th Recruiting Region
        %th Job title
        %th Url
        %th
        %th
        %th

    - @job_lists.each do |job_list|
      %tr
        %td= job_list.recruiting_region
        %td= job_list.job_title
        %td= job_list.url
        %td= link_to 'Show', job_list
        %td= link_to 'Edit', edit_job_list_path(job_list)
        %td= link_to 'Destroy', job_list, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Job list', new_job_list_path, :class => "btn"
  = link_to "Refresh People Data", job_lists_refresh_people_data_path, :class => "btn", data: { confirm: 'This operation should only be done when necessary.  It is an intensive process that should not be taken lightly.' }