%p#notice= notice

%p
  %b Recruiting Region:
  = @job_list.recruiting_region
%p
  %b Job Title:
  = @job_list.job_title
%p
  %b Url:
  = @job_list.url

.btn-group
  = link_to 'Edit', edit_job_list_path(@job_list), :class => "btn"
  = link_to 'Back', job_lists_path, :class => "btn"
