!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Avalytics"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3&sensor=false"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="/favicon.ico" rel="shortcut icon")


  %body
    .container
      - if user_signed_in?
        .row.top-menu
          .span5
            %h1
              %a.no-link-style{:href => "/"}
                = image_tag "app_logo.png", alt: "Welcome to Avalytics", :class => "app-logo"
          .span7
            .btn-toolbar.panel.pull-right
              .btn-group
                %a.btn#menu-btn
                  %i.fui-cmd-16
                  Visulisations
                %a.btn{:href => people_path}
                  %i.fui-man-16
                    People
                %a.btn{:href => job_lists_path}
                  %i.fui-menu-16
                    Job Lists
                %a.btn{:href => edit_user_registration_path}
                  %i.fui-lock-16
                    Change Password
                %a.btn{:href => destroy_user_session_path, "data-method" => "delete", :rel => "nofollow"}
                  %i.fui-cross-16
                    Logout
      .row
        .span12
          = bootstrap_flash
      #menu.row.homepage-tiles.hide
        .span3
          .tile
            .tile-content
              = image_tag "illustrations/compass.png", :class => "tile-image big-illustration"
              %h3.tile-title Map Data
              %p See location data represented on maps.
            .tile-nav
              %a.btn.btn-large.btn-block{:href => reports_map_path} See the Map
        .span3
          .flip-container
            .flipper
              .tile.front
                .tile-content
                  = image_tag "illustrations/infinity.png", :class => "tile-image big-illustration"
                  %h3.tile-title Charts
                  %p See your context on different charts (pie, line and more).
                .tile-nav
                  .btn.btn-large.btn-block.btn-flip See the Charts
              .tile.back
                .tile-content
                  %ul.nav.nav-tabs.nav-stacked
                    %li= link_to "Genders", reports_genders_path
                    %li= link_to "Races", reports_races_path
                .tile-nav
                  .btn.btn-large.btn-block.btn-flip Back
        .span3
          .flip-container
            .flipper
              .tile.front
                .tile-content
                  = image_tag "illustrations/colors.png", :class => "tile-image big-illustration"
                  %h3.tile-title Experiments
                  %p See some more fringe visulisations.
                .tile-nav
                  .btn.btn-large.btn-block.btn-flip See the Experiments
              .tile.back
                .tile-content
                  %ul.nav.nav-tabs.nav-stacked
                    %li= link_to "Sunburst", reports_sunburst_path
                    %li= link_to "Bubbles", reports_bubbles_path
                    %li= link_to "Progress", reports_progress_aggregation_path
                .tile-nav
                  .btn.btn-large.btn-block.btn-flip Back
        .span3
          .flip-container
            .flipper
              .tile.front
                .tile-content
                  = image_tag "illustrations/retina.png", :class => "tile-image big-illustration"
                  %h3.tile-title Clean Up
                  %p Improve the data in Avalytics for better results.
                .tile-nav
                  .btn.btn-large.btn-block.btn-flip Get to it!
              .tile.back
                .tile-content
                  %ul.nav.nav-tabs.nav-stacked
                    %li.nav-header
                      Strange Data
                    %li= link_to "Country/City Combos", records_to_clean_strange_country_city_combos_path
                    %li.nav-header
                      Data Assignment
                    %li= link_to "Gender", records_to_clean_gender_sample_path
                    %li= link_to "Race", records_to_clean_race_sample_path
                .tile-nav
                  .btn.btn-large.btn-block.btn-flip Back

      = yield

      %center
        .footer &copy; ThoughtWorks 2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster

